

.form-group{
  font-weight: bold
}

.product {
	width: 30%;
	margin: 30px;
}
.form-group {
	width: 80%;
  margin: 30px;
}
  .glyphicon {
		color: #95d7fc;
	}

.buttonTest{
  justify-content: center;
  align-items: center;
}
