
.body{
  height:100%;
}

.form-group{
  font-weight: bold
}

.product {
	width: 30%;
	margin: 30px;
}
.form-group {
	width: 80%;
  margin: 30px;
}
  .glyphicon {
		color: #95d7fc;
	}

.buttonTest{
  justify-content: center;
  align-items: center;
}

.try nav{
  /* background-color: aquamarine;*/
}

.avatar-img{
  height: auto;
  width: auto;
  opacity: 10%;
}

.bg-main{
/* background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i.pinimg.com/originals/87/7c/dc/877cdc4fdf2984cfb14c79d1f258f547.jpg');
*/
background-size:cover;
background-repeat:no-repeat;
background-position:center;

}
